@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Pagina do Aluno";

    
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h2 style="justify-content:center">@IndexModel.mensagem()</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
